<header>
  <a href="/api/quotes" class="logo">
    <i class="fa-regular fa-comment fa-2x"></i>
    <h3>Quote API</h3>
  </a>
  <a href="/api/quotes/new" class="link-button">
    Add Quote
  </a>
</header>
