<header>
  <div class="logo">
    <i class="fa-regular fa-comment fa-2x"></i>
    <a href="/api/quotes"><h3>Quote API</h3></a>
  </div>
  <a href="/api/quotes/new" class="link-button">
    Add Quote
  </a>
</header>
