<!DOCTYPE html>

<html lang="en">

<head>
  <title>Quote API</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/{{style}}">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  {{{body}}}
</body>

</html>
