<!DOCTYPE html>

<html lang="en">

<head>
  <title>Quote API</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/{{style}}">
  <link href="fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="fontawesome/css/brands.css" rel="stylesheet">
  <link href="fontawesome/css/solid.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon_second.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{{body}}}
</body>

</html>
