<div>This is edit-quote</div>

<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
  <fieldset>
    <legend>Edit Quote</legend>
    <div class="inputs">
      <label for="quote">Quote text:</label>
      <textarea id="quote">{{quote.quote}}</textarea>
      <label for="person">Author:</label>
      <input id="person" value="{{quote.person}}">
    </div>
    <div>
  </fieldset>
  <button id="update-quote">Update Your Quote</button>
</form>

<div id="updated-quote-container">
</div>

<script src="js/update-quote.js"></script>
