{{> header}}
<div class="title-container">
  <h1>Quote API</h1>
  <h4>Your Own Quote Library!</h4>
  {{!-- <i class="fa-regular fa-trash-can"></i> --}}
  {{!-- <i class="fa-regular fa-pen-to-square"></i> --}}
</div>
<div class="request-buttons">
  <button id="fetch-random">Fetch a Random Quote</button>
  <div class="fetch-by-author-container">
    <input id="author" value="" placeholder="Author Name">
    <button id="fetch-by-author">Fetch</button>
  </div>
  <button id="fetch-quotes">Fetch all Quotes</button>
</div>
<div id="quote-container">

</div>
<script src="js/script.js"></script>
