body {
  background-color: rgba(248, 240, 229, 0.7);
  color: rgb(15, 44, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

div, a, button{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

h1{
  font-size: 32px;
  font-weight: bold;
  margin: 5px;
}

h2{
  font-size: 26px;
  font-weight: 400;
}

h3{
  font-size: 24px;
  font-weight: 400;
}

h4{
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
}

a{
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: transparent;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

.logo:visited{
  color: rgb(15, 44, 89);
}

.logo i{
  margin-right: 5px;
}

.logo a{
  color: rgb(15, 44, 89);
}

button, .link-button{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.link-button{
  background-color: rgba(15, 44, 89, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 100px;
  padding: 10px;
  margin-right: 15px;
}

.link-button a{
  color: white;
}

.link-button:hover{
  background-color: rgba(15, 44, 89, 0.6);
  transition: background-color 0.2s;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  font-size: 16px;
  padding: 10px;
}

.request-buttons{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-buttons button {
  margin: 5px;
  color: rgb(15, 44, 89);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

.request-buttons button:hover {
  color: rgba(15, 44, 89, 0.5);;
  transition: color 0.2s;
}
.fetch-by-author-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fetch-by-author-container input{
  border-radius: 50px;
  border: 0.5px solid #949292;
}

#fetch-by-author{
  background-color: rgba(15, 44, 89, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

#fetch-by-author:hover{
  background-color: rgba(15, 44, 89, 0.6);
  transition: background-color color 0.2s;
}

#quote-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.single-quote {
  padding: 20px;
  width: 50%;
  display: flex;
  /* gap: 20px; not supported on safari */
}

.quote-info-container{
  align-self: stretch;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px; /*set gap*/
}
.quote-text {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 5px;
}
.attribution{
  text-align: right;
}

.single-quote .buttons-container{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: right;
  /* gap: 15px; */
}

.single-quote .buttons-container .icon i{
  color: rgba(15, 44, 89, 0.8);
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin: 15px 0px;
}

.single-quote .buttons-container .icon i:hover{
  transform: scale(1.3);
}

.form-nav{
  width: 80%;
}

.form-nav i{
  font-size: 30px;
  color: rgb(15, 44, 89);
}

form{
  width: 40%;
  margin: 20px;
  height: 40%;
}

form fieldset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  /* gap: 20px; */
  border: 0.5px solid rgb(15, 44, 89);
  border-radius: 10px;
}

form fieldset div {
  margin: 20px 0px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form fieldset div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label{
  display: block;
  color: rgb(15, 44, 89);
  font-size: 26px;
}

form input, form textarea{
  font-size: 18px;
  border: 0.5px solid rgb(15, 44, 89);
  color: rgb(15, 44, 89);
  border-radius: 10px;
}

form textarea {
  height: 100px;
  font-family: 'Nunito Sans', sans-serif;
}

form textarea:focus{
  outline: none !important;
  border: 1.5px solid rgb(15, 44, 89);
}

form input:focus{
  outline: none !important;
  border: 1.5px solid rgb(15, 44, 89);
}

form button {
  background-color: rgba(15, 44, 89, 0.8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 20px 0px;
  color: white;
  margin-top: 15px;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

form button:hover{
  background-color: rgba(15, 44, 89, 0.6);
  transition: background-color 0.2s;
}


dialog{
  width: 50%;
  background-color: rgba(248, 240, 229, 1);
  color: rgb(15, 44, 89);
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  border-radius: 10px;
}

.confirm-dialog, .success-dialog{
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog button{
  width: 150px;
  padding: 10px;
  font-size: 20px;
}

dialog form{
  width: 60%;
}

dialog .buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; not supported on safari*/
}

.confirm-dialog .buttons-container button:first-child {
  margin-right: 20px; /*set gap*/
}
